@model IEnumerable<cmspro.Models.craft>



<link href="~/Content/w3.css" rel="stylesheet" />
<link href="~/jqueryui/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/Army.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/jqueryui/jquery-ui.min.js"></script>


<div id="craftui">
    @foreach (var item in Model)
    {
        <div class="responsive">
            <div class="gallery">
                <a target="_blank" href="" style="height:250px;width:200px;">
                    <img src="~/uploads/@Html.DisplayFor(modelItem => item.craft_image)" style="height:250px;">
                </a>
                <div class="name">@Html.DisplayFor(modelItem => item.craft_name)</div>
                <p style="color:red;font-family:cursive;font-size:large;">@Html.DisplayFor(modelItem => item.craft_weight),@Html.DisplayFor(modelItem => item.craft_size)</p>
                <p class="desc" rows="4" cols="500">@Html.DisplayFor(modelItem => item.craft_specification)</p>

                <button type="button" class="btn btn-danger w3-hover-green w3-input">@Html.ActionLink("Details", "DetailsCraft", new { id = item.craft_id })</button>
            </div>
        </div>
    }
</div>
<script>
    $("#craftui").sortable();
</script>